<% provide(:title, @taxon.name) %>
<%= render "light_section", product: @taxon %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'product_category_list', taxonomies: @taxonomies %>
        <%= render 'color_category_list' %>
        <%= render 'size_category_list' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_area' %>
        <div class="row">
          <%= render partial: "product_caption", collection: @products, as: "product" %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'partners' %>

